prefect>=2.11.5

#prefect-gcp
-e ~/src/github.com/PrefectHQ/prefect-gcp

marvin

beautifulsoup4
mechanicalsoup

numpy
pandas
db-dtypes
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-storage
tensorflow

# development
mypy
pytest
ipython
ruff
