prefect>=2.13.5

prefect-gcp
# #-e ~/src/github.com/PrefectHQ/prefect-gcp

prefect-kubernetes
# #-e ~/src/github.com/PrefectHQ/prefect-kubernetes

marvin

beautifulsoup4
mechanicalsoup

numpy
pandas
db-dtypes
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-storage
# tensorflow

# development
mypy
pytest
ipython
ruff
memray
