prefect>=3rc2

#prefect-gcp
# #-e ~/src/github.com/PrefectHQ/prefect-gcp

#prefect-kubernetes
# #-e ~/src/github.com/PrefectHQ/prefect-kubernetes

marvin

beautifulsoup4
mechanicalsoup

watchdog

# development
mypy
pytest
ipython
ruff
memray
